.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  &__primary {
    background-color: $color-navy;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-navy;
    }

    &__outline {
      background-color: $color-navy;
      color: $color-white;
      border-color: transparent;
      border: 1px solid;

      &:hover {
        background-color: $color-white;
        border-color: $color-navy;
        color: $color-navy;
      }
    }
  }

  &__secondary {
    background-color: $color-white;
    color: $color-navy;

    &:hover {
      background-color: $color-navy;
      color: $color-white;
    }
  }

  @include media-query($medium-up) {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 54px;
    padding-right: 54px;
  }
}