html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $color-navy;
}

p {
  color: $color-grey-dark;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

h1,
.h1 {
  font-size: $font-size-h1-mobile;
  line-height: $line-height-h1-mobile;

  @include media-query($medium-up) {
    font-size: $font-size-h1-desktop;
    line-height: $line-height-h1-desktop;
  }
}

h2,
.h2 {
  font-size: $font-size-h2-mobile;
  line-height: $line-height-h2-mobile;

  @include media-query($medium-up) {
    font-size: $font-size-h2-desktop;
    line-height: $line-height-h2-desktop;
  }
}

h3,
.h3 {
  font-size: $font-size-h3-mobile;
  line-height: $line-height-h3-mobile;

  @include media-query($medium-up) {
    font-size: $font-size-h3-desktop;
    line-height: $line-height-h3-desktop;
  }
}

h4,
.h4 {
  font-size: $font-size-h4-mobile;
  line-height: $line-height-h4-mobile;

  @include media-query($medium-up) {
    font-size: $font-size-h4-desktop;
    line-height: $line-height-h4-desktop;
  }
}

h5,
.h5 {
  font-size: $font-size-h5-mobile;
  line-height: $line-height-h5-mobile;

  @include media-query($medium-up) {
    font-size: $font-size-h5-desktop;
    line-height: $line-height-h5-desktop;
  }
}

h6,
.h6 {
  font-size: $font-size-h6-mobile;
  line-height: $line-height-h6-mobile;

  @include media-query($medium-up) {
    font-size: $font-size-h6-desktop;
    line-height: $line-height-h6-desktop;
  }
}

p {
  font-size: $font-size-p-mobile;
  line-height: $line-height-p-mobile;

  @include media-query($medium-up) {
    font-size: $font-size-p-desktop;
    line-height: $line-height-p-desktop;
  }
}